.social_link {
  color: white;
  text-decoration: none;
}

.social_link:hover {
  opacity: 0.5;
}

.footer {
  margin-top: 16px;
  padding: 8px 0px 8px 0px;
  color: white;
  background: #000;
}

.footer_nav {
  color: white;
  gap: 16px;
}

.follow_text {
  font-size: x-large;
  font-weight: bold;
}

.social_icon {
  color: white;
}

.social_icon:hover {
  opacity: 0.5;
}

.icon_nav {
  color: white;
  margin-bottom: 16px;
  gap: 16px;
}
